#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .titulo{
    margin-top: 30px;
    font-size: large;
    font-family: cursive;
    color: rgb(0, 255, 0);
  }
  ion-content {
    --background: rgb(0, 0, 0); 
  }
  ion-tab-bar{--background: rgb(15, 15, 15);}
  
  .custom-button {
    color: rgb(0, 255, 0);
    
  }

  .destaque{
    color: rgb(255, 255, 255);
    
  }

  .button-container{
    
    margin-left: 240px;
  }
  
  .back{
    color: rgb(0, 255, 0);
  margin-left: 330px;
  position: absolute;
  top: 9px;


  }

  .icon-button {
    --background: transparent; /* Remove o fundo do botão */
    --color: rgb(0, 255, 0);
    --background-activated: transparent; /* Remove o fundo ao ser ativado */
    --background-focused: transparent; /* Remove o fundo ao ser focado */
    --background-hover: transparent; /* Remove o fundo ao ser "hovered" */
    --ripple-color: transparent;
  }

  

  
  .profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #363636;
    margin-left: 16px;
    margin-right: 16px;
}

.profile-list {
  list-style-type: none;
  padding: 0;
}

.profile-field {
  margin-bottom: 10px;
  border-bottom: 1px solid #faf8f8; 
}

.field-label2{
  font-size: large;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 50px; /* Altura do item da lista */
  border-bottom: 1px solid #ccc;
  color: rgb(0, 255, 0);
}
.center-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.field-label3{
  color: rgb(0, 255, 0);
}