<ion-content [fullscreen]="true">
  <ion-header>
    <div class="titulo">
      <ion-title >Treiny</ion-title>
    </div>
  </ion-header>

  <div class="back">
    <ion-button (click)="showLogoutAlert()" class="icon-button">
      <ion-icon name="menu-outline" slot="icon-only" size="large"></ion-icon>
    </ion-button>
  </div>


  <br>
  <ion-card>
    <img alt="Legumes na dieta" src="https://www.academiaassai.com.br/sites/default/files/styles/noticia_1020x640/public/legumes_capa.jpg?itok=wjO2K3mb" />
    <ion-card-header>
      <ion-card-title>Legumes na alimentação</ion-card-title>
      <ion-card-subtitle>Site Live Nutrition</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Os melhores legumes para a sua dieta cetogénica
    
    <div class="button-container"><ion-button size="small" href="https://lev.pt/os-melhores-legumes-para-a-sua-dieta-cetogenica" target="_blank">Acessar</ion-button></div>
  </ion-card-content>
  </ion-card>


  <div class="profile-container">
    <ul class="center-list">
    <span class="field-label2"> Dieta</span>
    </ul>
    <div class="profile-body">
        <ul class="profile-list">
          <li class="profile-field2">
            <span class="field-label3">Manhã:</span>
          </li>
          <br>
          <li class="profile-field">
            <span class="field-label">Pão: </span>
            <span class="field-value">150g</span>
          </li>
          <li class="profile-field">
            <span class="field-label">Ovo: </span>
            <span class="field-value">50g</span>
          </li>
          <li class="profile-field">
            <span class="field-label">Café: </span>
            <span class="field-value">300ml</span>
          </li>
        </ul>

          <ul class="profile-list">
            <li class="profile-field2">
              <span class="field-label3">Tarde:</span>
            </li>
            <br>
            <li class="profile-field">
              <span class="field-label">Arroz: </span>
              <span class="field-value">200g</span>
            </li>
            <li class="profile-field">
              <span class="field-label">Feijão: </span>
              <span class="field-value">70g</span>
            </li>
            <li class="profile-field">
              <span class="field-label">Patinho: </span>
              <span class="field-value">100g</span>
            </li>
            <li class="profile-field">
              <span class="field-label">Brocolis: </span>
              <span class="field-value">60g</span>
            </li>
            <li class="profile-field">
              <span class="field-label">Suco de Laranja: </span>
              <span class="field-value">200ml</span>
            </li>
        </ul>

        <ul class="profile-list">
          <li class="profile-field2">
            <span class="field-label3">Noite:</span>
          </li>
          <br>
          <li class="profile-field">
            <span class="field-label">Macarrão: </span>
            <span class="field-value">150g</span>
          </li>
          <li class="profile-field">
            <span class="field-label">Cenoura: </span>
            <span class="field-value">50g</span>
          </li>
          <li class="profile-field">
            <span class="field-label">Frango: </span>
            <span class="field-value">110g</span>
          </li>
          <li class="profile-field">
            <span class="field-label">Tomate: </span>
            <span class="field-value">70g</span>
          </li>
      </ul>

        
      </div>
    </div>

    <br><br>

</ion-content>