<ion-content [fullscreen]="true">
  <ion-header>
    <div class="titulo">
      <ion-title>Treiny</ion-title>
    </div>
  </ion-header>
  
  <div class="back">
    <ion-button (click)="showLogoutAlert()" class="icon-button">
      <ion-icon name="menu-outline" slot="icon-only" size="large"></ion-icon>
    </ion-button>
  </div>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterUsers($event)"></ion-searchbar>

  <br><br>

  <ion-list>
    <ion-item *ngFor="let user of filteredUsers" button (click)="goToDetails(user)">
      <ion-label>
        {{ user.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

