<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hometr" href="/tabstr/hometr">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <span class="destaque"><ion-label>Home</ion-label></span>
    </ion-tab-button>


    <ion-tab-button tab="alunos" href="/tabstr/alunos">
      <ion-icon aria-hidden="true" name="accessibility-outline"></ion-icon>
      <span class="destaque"><ion-label>Alunos</ion-label></span>
    </ion-tab-button>


</ion-tab-bar>

</ion-tabs>
