<ion-header [translucent]="true">
  
    <ion-title></ion-title>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  
    <div class="icon">
    <ion-icon name="barbell-outline"></ion-icon>
  </div>



      <div class="text">
      <p>Bem vindo ao <span class="destaque">Treiny!</span> </p> 
      
      
      </div>

      <div class="input">
        <ion-input label="Email" label-placement="floating" fill="solid" color="light" placeholder="Enter text"></ion-input>
       
      </div>

      <div class="input">
        <ion-input label="Senha" label-placement="floating" fill="solid" color="light" placeholder="Enter text"></ion-input>
       
      </div>

      <div class="button-container">
        <ion-button routerLink="/home" class="custom-button">Entrar</ion-button>
      </div>

  </ion-header>
</ion-content>
