<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <span class="destaque"><ion-label>Home</ion-label></span>
    </ion-tab-button>


    <ion-tab-button tab="evolucao" href="/tabs/evolucao">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <span class="destaque"><ion-label>Evolução</ion-label></span>
    </ion-tab-button>

    <ion-tab-button tab="treinos" href="/tabs/treinos">
      <ion-icon aria-hidden="true" name="barbell-outline"></ion-icon>
      <span class="destaque"><ion-label>Treinos</ion-label></span>
    </ion-tab-button>


  <ion-tab-button tab="dieta" href="/tabs/dieta">
    <ion-icon aria-hidden="true" name="nutrition-outline"></ion-icon>
    <span class="destaque"><ion-label>Dieta</ion-label></span>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>
