.icon{
  font-size: 350%;
  margin-top: 3cm;
  text-align: center;
  color: rgb(0, 255, 0);
}
.text{
  font-family: Helvetica;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 1cm;
  margin-bottom: 30px;
  font-size: large;
}
.destaque{
  font-size: large;
  font-family: cursive;
  color: rgb(0, 255, 0);
  
}
ion-content {
  --background: rgb(0, 0, 0); 
}

.imputs{
  color: white;
  background-color: gray;
  margin-left: 1cm;
  
}

form{
  padding-left: 10px;
  padding-right: 20px;
  width: 100%; /* ou outro valor fixo, por exemplo, 500px */
height: auto; /* ou outro valor fixo, por exemplo, 600px */
overflow: auto; 
}


ion-input.custom {
  --background: #373737;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-left: ;
}

.custom-button-e {
  padding-left: 10px;
  padding-top: 20px;
  --ion-color-base: rgb(8, 250, 0); /* Defina a cor RGB desejada */
 color: rgb(8, 0, 0); /* Defina a cor do texto */
--background: rgb(114, 231, 110); /* Defina o fundo transparente */
--background-activated: rgb(30, 182, 25); /* Defina o fundo transparente quando ativado */
--background-focused: rgb(8, 250, 0); /* Defina o fundo transparente quando focado */
--background-hover: rgb(77, 122, 75); 
  display: flex; 
  justify-content: center; 
  
 
  
}


.custom-button {
  padding-top: 7px;
  width: 340px; 
  --ion-color-base: rgb(0, 250, 250); /* Defina a cor RGB desejada */
 color: rgb(8, 0, 0); /* Defina a cor do texto */
--background: rgb(110, 213, 231); /* Defina o fundo transparente */
--background-activated: rgb(65, 128, 223); /* Defina o fundo transparente quando ativado */
--background-focused: rgb(0, 108, 250); /* Defina o fundo transparente quando focado */
--background-hover: rgb(75, 99, 122); 
--border-radius: 0%;
padding-left: 10px;
  

}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  margin-top: 20px;
}

.custom{
  position: absolute;
  margin-top: 0px;
  text-align: start;
  top: 676px;
  left: 132px;
}

.text2{
  font-family: Helvetica;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 1cm;
  margin-bottom: 30px;
  font-size: small;
  top: 680px;
  position: absolute;

}

.custom2{
  position: absolute;
  margin-top: 0px;
  text-align: start;
  top: 706px;
  left: 155px;

  }

  .text3{
    font-family: Helvetica;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 1cm;
    font-size: small;
    position: absolute;
    top: 710px;
  
  }