
.titulo{
    margin-top: 30px;
    font-size: large;
    font-family: cursive;
    color: rgb(0, 255, 0);
  }
  
  ion-content {
    --background: rgb(0, 0, 0); 
  }
  ion-tab-bar{--background: rgb(15, 15, 15);}
  
  .custom-button {
    color: rgb(0, 255, 0);
    
  }
  
  .destaque{
    color: rgb(255, 255, 255);
    
  }


 .back{
  color: rgb(0, 255, 0);
margin-left: 330px;
position: absolute;
top: 9px;


}

.icon-button {
  --background: transparent; /* Remove o fundo do botão */
  --color: rgb(0, 255, 0);
  --background-activated: transparent; /* Remove o fundo ao ser ativado */
  --background-focused: transparent; /* Remove o fundo ao ser focado */
  --background-hover: transparent; /* Remove o fundo ao ser "hovered" */
  --ripple-color: transparent;
}




.spacer {
  height: 20px; /* Altura do espaçamento entre treinos */
}

.exercise-list{
  border: solid #383a3a;; /* Define a largura e a cor do contorno */
  border-radius: 10px; /* Define o raio do canto do contorno */
  padding: 5px;

}

ion-card-header{
  background-color: #383a3a;
}