<ion-content [fullscreen]="true">
  <ion-header>
    <div class="titulo">
      <ion-title>Treiny</ion-title>
    </div>
  </ion-header>

  <div class="back">
    <ion-button (click)="showLogoutAlert()" class="icon-button">
      <ion-icon name="menu-outline" slot="icon-only" size="large"></ion-icon>
    </ion-button>
  </div>
  <br>

  <br>

    <!-- Lista dinâmica de treinos -->
    <ng-container *ngFor="let treino of treinos">
      <ion-list class="exercise-list">
        <ion-card-header>{{ treino.nome }}</ion-card-header>
        <ion-item *ngFor="let exercicio of treino.exercicios">
          <ion-label>{{ exercicio }}</ion-label>
        </ion-item>
      </ion-list>

      <!-- Espaçamento entre treinos -->
      <div class="spacer"></div>
    </ng-container>
 
</ion-content>


