ion-header {
    ion-toolbar {
      --background: #383a3a; /* Cor verde */
      --color: rgb(255, 255, 255);
  
      ion-buttons {
        ion-button {
          color: rgb(255, 255, 255);
  
          ion-icon {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
  
  ion-fab {
    ion-fab-button {
      --background: rgb(0, 255, 0); /* Cor verde do botão flutuante */
      --color: rgb(255, 255, 255); /* Cor do ícone do botão flutuante */
    }
  }

  .aluno-nome{

    display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  
  }
.ion-padding{
    color: rgb(0, 0, 0);
    --background: rgb(0, 255, 0);
}

.deletebuton{
    --background: rgb(223, 100, 100);   
   
}
.treino-container{
    border: solid #383a3a;; /* Define a largura e a cor do contorno */
    border-radius: 10px; /* Define o raio do canto do contorno */
    padding: 5px;

}

.editbutton{

  --background: rgb(101, 172, 253);

}

.alinhar{
  justify-content: center;
 position: static;
 display: flex;
 gap: 180px;

 
}
